<html>
<head>
    <title>Freeweek</title>
    <style>
        body {
            background-color: black;
            color: white;
        }
    </style>
</head>
<body>
    {% if weeks %}
        {% for week in weeks %}
        <h1>{{ week }}</h1>
        <div>
            <img src="{{ week.slot1.bust_url }}" />
            <img src="{{ week.slot2.bust_url }}" />
            <img src="{{ week.slot3.bust_url }}" />
            <img src="{{ week.slot4.bust_url }}" />
            <img src="{{ week.slot5.bust_url }}" />
            <img src="{{ week.slot6.bust_url }}" />
            <img src="{{ week.slot7.bust_url }}" />
        </div>
        {% endfor %}
    {% endif %}
</body>
</html>

